/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Conteneur principal */
header, section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #0a2540;
    color: #ffffff;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

header h2 {
    font-size: 16px;
    font-weight: normal;
}

/* Liens */
a {
    color: #1abc9c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 5px;
}

section h3 {
    color: #0a2540;
}

/* Listes */
ul {
    padding-left: 20px;
}

/* Header type CV */
.header-cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a2540;
    padding: 30px;
    gap: 20px;
    text-align:left;
}

/* Texte du header */
.header-text {
    max-width: 70%;
    text-align: left;
}

.header-text h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.header-text h2 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: normal;
}

.header-text p {
    margin: 6px 0;
    font-size: 15px;
}

/* Photo */
.header-photo img {
    width: 160px;
    height: auto;
    border-radius: 5px;
}

.header-text h1,
.header-text h2,
.header-text p {
    text-align: left;
}
